[config]
input_dir = .\input
output_dir = .\output
binee_folder_path = .\utils\binee
domain_whitelist = .\utils\whitelist.txt
PLAYBOOK_JSON = .\utils\Playbooksig.json
MITRE_JSON = .\api_server\utils\mitre.json
DB_PATH = .\utils\hachi.db
SIG_CHECK_EXE = .\utils\sigcheck64.exe
QUEUE_NAME = hachi
ENABLE_EMULATION = 0
ENABLE_AV_OTX = 0
API_KEY =
OTX_SERVER = https://otx.alienvault.com/


[logging]
log_verbosity = info
log_backup_count = 5
log_date_format = '%%a, %%d %%b %%Y %%H:%%M:%%S'
log_rotate_at = midnight