[config]
input_dir = .\\input
output_dir = .\\output
PLAYBOOK_JSON = .\\utils\\Playbooksig.json
MITRE_JSON = .\\utils\\mitre.json
DB_PATH = .\\utils\\hachi.db
SIG_CHECK_EXE = .\\utils\\sigcheck64.exe
QUEUE_NAME = hachi

[logging]
log_verbosity = info
log_backup_count = 5
log_date_format = '%%a, %%d %%b %%Y %%H:%%M:%%S'
log_rotate_at = midnight